[submodule "Control_Interface"]
	path = Control_Interface
	url = https://github.com/nsviel/Obstacle-Control_Interface_Module
[submodule "Edge_Orchestration_Module"]
	path = Edge_Orchestration_Module
	url = https://github.com/nsviel/Obstacle-Edge_Orchestration_Module
[submodule "Data_Acquisition_Module"]
	path = Data_Acquisition_Module
	url = https://github.com/nsviel/Obstacle-Data_Acquisition_Module
[submodule "Data_Processing_Component"]
	path = Data_Processing_Component
	url = https://github.com/nsviel/Velodium
